@model List<BasketDetailVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal endTotal = 0;
}

<main class="main cart">
    <div class="page-content pt-8 pb-10 mb-4">
        <div class="step-by">
            <h3 class="title title-step active"><a asp-controller="Cart" asp-action="Index">1.Shopping Cart</a></h3>
        </div>
        <div class="container mt-7 mb-2">
            <div class="row">
                <div class="col-lg-8 col-md-12 pr-lg-6">
                    <table class="shop-table cart-table">
                        <thead>
                            <tr>
                                <th><span>Product</span></th>
                                <th></th>
                                <th><span>Price</span></th>
                                <th><span>quantity</span></th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (BasketDetailVM product in Model)
                            {
                                <tr>
                                    <td class="product-thumbnail">
                                        <figure>
                                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@product.Id">
                                                <img src="~/assets/images/products/@product.Image" width="90" height="112"
                                                 alt="product">
                                            </a>
                                        </figure>
                                    </td>
                                    <td class="product-name">
                                        <div class="product-name-section">
                                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@product.Id">@product.Name</a>

                                        </div>
                                    </td>
                                    <td class="product-price">
                                        <span class="product-price">
                                            <del class="old-price">$@product.Price</del>
                                            <ins class="new-price">$@((product.Price - ((product.Price * product.Discount) / 100)).ToString("##.00"))</ins>
                                        </span>
                                    </td>
                              
                                    <td class="item-quantity">
                                        <div class="inp-num">
                                            <a data-id="@product.Id" class="down" id="downbtn"><i class="fas fa-chevron-left"></i></a>
                                            <span class="inp-value">@product.Count</span>
                                            <a data-id="@product.Id" class="up" id="upbtn"><i class="fas fa-chevron-right"></i></a>
                                        </div>
                                    </td>

                                    <td class="product-subtotal">
                                        <span class="amount">$@((product.Total - ((product.Total * product.Discount) / 100)).ToString("##.00"))</span>
                                    </td>
                                    <td class="product-remove">
                                        <form asp-controller="Basket" asp-action="Delete" asp-route-id="@product.Id" method="post">
                                            <button style="cursor: pointer" class="btn-remove" title="Remove this product">
                                                <i class="p-icon-times"></i>
                                            </button>
                                        </form>
                                        
                                    </td>
                                </tr>
                            }
                            
                          
                        </tbody>
                    </table>
                    <div class="cart-actions mb-6 pt-6">
                        <a asp-controller="Shop" asp-action="Index" class="btn btn-dim btn-icon-left mr-4 mb-4">
                            Continue Shopping <i class="p-icon-arrow-long-right"></i>
                        </a>

                    </div>

                </div>
                <aside class="col-lg-4 sticky-sidebar-wrapper">
                    <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
                        <div class="summary mb-4">
                            <h3 class="summary-title">Cart Totals</h3>
                            <table class="shipping mb-2">
                                <tr class="summary-subtotal">
                                    @foreach (var total in Model)
                                    {
                                        endTotal += total.Total - ((total.Total * total.Discount) / 100);

                                    }
                                    <td>
                                        <h4 class="summary-subtitle">Subtotal</h4>
                                    </td>
                                    <td>
                                        <p class="summary-subtotal-price">$@endTotal.ToString("##.00")</p>
                                    </td>
                                </tr>

                            </table>


                            <a asp-controller="Account" asp-action="Login" class="btn btn-dim btn-checkout btn-block">
                                Proceed to
                                checkout
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>

